{% extends 'base.html' %}
{% load static %}

{% block body_block %}
 {% if products %}

 <section class="shop_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        {% if word %}
        <h3 style="text-align:center; color:#3E454C;">{{word}}</h3>
        {% else %}
        <h2>
          Latest Products
        </h2>
        {% endif %}
      </div>
      <div class="row">
        {% for p in products %}
        <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box">
            <a href="">
              <div class="img-box">
                <img src="{{ p.product_image.url }}" alt="">
              </div>
              <div class="detail-box">
                <h6>{{ p.name }}</h6>
                <h6> Price <span>${{ p.price }} </span></h6>
                <a href="#" class="btn btn-primary">Add to Cart</a>
              </div>
              <div class="new"><span>New </span></div>
            </a>
          </div>
        </div>
          {% endfor %}
        </div>
    </div>
  </section>
{% endif %}
{% endblock %}
