<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>Django Level Two</title>
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}"/>
</head>
<body>

<h1>Welcome to django level two</h1>
<h1>Here are your access records</h1>
<div class="djangotwo">
    {% if users_record %}
    <table>
        <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        </thead>
        <tbody>
        {% for user in users_record %}
        <tr>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No Access records found!</p>
    {% endif %}
</div>

</body>
</html>