{% extends 'base.html' %}


{% load static %}

{% block body_block %}
<section class="shop_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
         Blogs
        </h2>
      </div>
          {% if blogmodel_list %}
      <div class="row">

      {% for blog in blogmodel_list %}
                    <div class="col-sm-6 col-md-4 col-lg-3">
          <div class="box" style="height: 211px;">

                <img src="{{ blog.blog_img.url }}" alt="" style="width: 100%;height: 100px;">

              <div class="detail-box">
                <h6>By : {{ blog.userid  }}</h6>
              </div>

              <div class="detail-box">
                   <p><span class="boldd">Description:</span> {{ blog.desc|slice:":20" }}...
                         <a href="{% url 'ecom:blog_details' blog.id %}" style="color: blue;">Details</a></p>
              </div>

          </div>
        </div>
          {% endfor %}

           {% else %}
                <h1 class="center">Oops! Sorry You have no Blogs added yet, Please Add new Blogs...</h1>
              {% endif %}
        </div>
    </div>
  </section>
{% endblock %}