{% extends 'base.html' %}

{% load static %}

{% block body_block %}

    <div class="jumbotron">
        <h1 class="text-center">Welcome to Blog Details</h1>
            <img src="{{ blog_details.blog_img.url }}" class="img-responsive" style="height: 200px;" alt="Image">
        <p></p>
        <p><span class="boldd"><b>Description:</b></p>
        <p> {{ blog_details.desc }}</p>
    </div>
    {% if user.is_authenticated and user.username == blog_details.userid.get_username  %}
    <div class="container">
        <p><a class="btn btn-warning" href="{% url 'ecom:update' pk=blog_details.pk  %}">Update</a> &nbsp;
        <a class="btn btn-danger" href="{% url 'ecom:delete' pk=blog_details.pk  %}">Delete</a></p>
    </div>
    {% endif %}


{% endblock %}