{% extends 'base.html' %}

{% block content %}

    <div class="container mt-5" style="border: 5px solid black;width: 50%;">
        <div class="card" style="padding: 10px;background: azure;">
   <div class="card-header" style="text-align: center;background:#814646;;color:white">
            <h1>Welcome - {{current_user.username}} </h1>
   </div>

            <img src="{{url_for('static', filename='profile_pics/'+current_user.profile_image)}}" alt="No Image found" style="margin-top: 15px;width:30%;height:200px;margin-left:35%">

      <div class="card-body">
        <form method="POST" action="" enctype="multipart/form-data" >
            {{form.hidden_tag()}}

            <div class="form-group">
                {{form.email.label(class='form-group')}}{{form.email(class='form-control')}}
            </div>
           
            <div class="form-group">
            {{form.username.label(class='form-group')}}{{form.username(class='form-control')}}
            </div>
            
            <div class="form-group">
            {{form.picture.label(class='form-group')}}{{form.picture(class='form-control')}}
            </div>

            <div class="form-group" style="text-align: center;margin-top:10px">
            {{form.submit(class='btn btn-primary')}}
            </div>
            
        </form>
    </div>
        </div>
    </div>


  
{% endblock %}


