{%extends 'base.html' %}

{% block content %}
<div class="container-fluid h-custom" style="margin-top: 45px; margin-bottom: 45px;">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-8 col-lg-6 col-xl-6">
<div class="card" >
           <h3 style="margin-top:10px">{{ title }} Blog</h3>
   <hr>

 <div class="card-body">
            <form class="form-group" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.title(class="form-control", placeholder="Add Blog Title") }}
                </div>
                <div class="mb-3">
                    {{ form.text(class="form-control", placeholder="Add Blog Description") }}
                </div>
                {% if form.bimg.data %}
                <div class="mb-3">
                    <img src="{{ url_for('static', filename='blogs/' + form.bimg.data) }}"
                         class="img-fluid rounded" alt="Blog Image">
                </div>
                {% endif %}

                <div class="mb-3">
                    <input type="file" name="bimg" class="form-control">
                </div>
                <div class="mb-3">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
 </div>
 </div>

        </div>
    </div>
</div>
<!--<div class="container-fluid h-custom" style="margin-top: 45px; margin-bottom: 45px;">-->
<!--    <div class="row d-flex justify-content-center align-items-center h-100">-->
<!--     <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">-->

<!--        <h1>{{title}} Blog</h1>-->

<!--        <form class="form-group" method="POST" enctype="multipart/form-data">-->
<!--            {{form.hidden_tag()}}-->
<!--               <div class="form-outline mb-4">-->
<!--           {{form.title(class="form-control", placeholder="Add Blog Title")}}-->
<!--               </div>-->
<!--               <div class="form-outline mb-4">-->
<!--            {{form.text(class="form-control", placeholder="Add Blog Description")}}-->
<!--               </div>-->
<!--             {% if form.bimg.data is not none %}-->
<!--            <div class="form-outline mb-4">-->
<!--                <img src="{{ url_for('static', filename='blogs/' + form.bimg.data) }}">-->
<!--            </div>-->
<!--            {% endif %}-->

<!--            <div  class="form-outline mb-4">-->
<!--                    <input type="file" name="bimg" value="">-->
<!--            </div>-->
<!--            {{form.submit()}}-->

<!--        </form>-->

<!--    </div>-->
<!--        </div>-->
<!--    </div>-->



{% endblock %}