<footer class="bg-dark text-center text-white footer">
  <!-- Grid container -->
  <div class="container p-1">
    <!-- Section: Social media -->
    <section class="mb-1">
      <div class="" style="float: left;margin-top: -6px;">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/infobeans" role="button"
        ><i class="fab fa-facebook-f"></i
      > </a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.twitter.com/infobeans" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://infobeans.com" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.youtube.com/user/INFOBEANS" role="button"
        ><i class="fab fa-youtube"></i
      ></a>
      </div>
      <div class="" style="float: right;margin-top: 4px;">
    © 2023 Copyright:
    <a class="text-white" href="https://infobeans.com/">Infobeans</a>
  </div>

    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->

  <!-- Copyright -->
</footer>