{% extends 'base.html' %}

{% block content %}
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                  carousel_items
                  {% for citems in carousel_items %}
                <div class="carousel-item  {% if loop.index == 1:%}active{% endif %}">
                  <img src="{{ url_for('static', filename='carousal/'+citems.cimg) }}" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block" style="color: red;">
                    <h5>{{ citems.title }}</h5>
                    <p>{{ citems.desc }}</p>
                  </div>
                </div>
                 {% endfor %}
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

<!--        <div class="container-fluid card" style="background: #dbe4e9;;padding: 4px;margin-top: 10px;">-->
<!--                        <div class="row" style="text-align: center;margin: 10px;">-->
<!--                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-xs-center">-->
<!--                                <h2 class="tm-gold-text tm-title" style="font-style: oblique;">Blog Categories</h2><hr class="my-4" STYLE="margin-left: 10%;MARGIN-RIGHT: 10%;">-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                                {% for post in blogpost.items %}-->
<!--                                            {% if loop.index <= 4 %}-->
<!--                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">-->
<!--                                                    <div class="card">-->

<!--                                                        <div class="tm-content-box">-->
<!--                                                            <img src="{{ url_for('static', filename='img/tm-img-310x180-1.jpg')}}" alt="Image" class="tm-margin-b-20 img-fluid">-->

<!--                                                            <p style="text-align: center; margin: 10px;font-size: 22px;background: #0c0b0b;"><a class="" href="{{ url_for('blogpost.blog_post', blog_post_id=post.id)  }}" style="color:white">Lifestyle</a></p>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            {% endif  %}-->
<!--                                {% endfor  %}-->

<!--                        </div>-->
<!--                    </div>-->


         <div class="container-fluid" style="background: #f7e0d8;padding: 4px;margin-top: 10px;">
                        <div class="row" style="text-align: center;margin: 10px;">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-xs-center">
                                <h2 class="tm-gold-text tm-title" style="font-style: oblique;">Latest Blogs</h2><hr class="my-4" STYLE="margin-left: 10%;MARGIN-RIGHT: 10%;">

                            </div>
                        </div>
                        <div class="row">
                                {% for post in blogpost.items %}
                                      {% if loop.index <= 4 %}
                             <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
                                            <div class="card">
                                                <h6 class="card-header"><span>Publish On : </span>{{ post.date.strftime('%Y-%m-%d') }}</h6>
                                            <div class="card-body">
                                                <img src="{{ url_for('static', filename='blogs/'+post.bimg)}}" alt="Image" class="tm-margin-b-20 img-fluid" style="height: 130px;width: 100%;">
                                            <h5 class="card-title">{{ post.title }}</h5>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <a href="{{url_for('blogpost.blog_post', blog_post_id=post.id)}}" class="btn btn-primary">Go somewhere</a>
                                            </div>
                                            </div>
                             </div>
                                      {% endif  %}
                                {% endfor  %}

                        </div>
                    </div>


 {% include 'testimonial.html' %}


<!--        <nav aria-label="Page navigation example">-->
<!--            <ul class="pagination">-->
<!--             -->
<!--                {% for page_num in blogpost.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}-->
<!--                   -->
<!--                    {% if blogpost.page == page_num  %} -->
<!--    -->
<!--                      <li class="page-item disabled"><a class="page-link" href="{{url_for('core.index', page=page_num)}}">{{page_num}}</a></li>-->
<!--    -->
<!--                    {% else %}-->
<!--                         <li class="page-item"><a class="page-link" href="{{url_for('core.index', page=page_num)}}">{{page_num}}</a></li>-->
<!--                    {%endif %}-->
<!--    -->
<!--                {% endfor %}-->
<!--             -->
<!--            </ul>-->
<!--          </nav>-->

          
    </div>

{% endblock %}