{% extends 'base.html' %}

{% block content %}
 <div class="container-fluid h-custom" style="margin-top: 45px; margin-bottom: 45px;">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <h3>Login</h3>
        <form method="POST">
           {{form.hidden_tag()}}
          <div class="form-outline mb-4">
              {{ form.email(class="form-control form-control-lg", id="form3Example3", placeholder="Enter a valid email address") }} <!-- Add form field with Bootstrap classes -->
          </div>
          <div class="form-outline mb-3">
              {{ form.password(class="form-control form-control-lg", id="form3Example4", placeholder="Enter password") }}
          </div>

<!--          <div class="d-flex justify-content-between align-items-center">-->
<!--            <a href="#!" class="text-body">Forgot password?</a>-->
<!--          </div>-->

          <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="{{url_for('users.register')}}"
                class="link-danger">Register</a></p>
          </div>

        </form>
      </div>
    </div>
  </div>



<!--<div class="jumbotron">-->
<!--    <form method="POST">-->

<!--        {{form.hidden_tag()}}-->
<!--        {{form.email.label}}   {{form.email()}}<br>-->
<!--        {{form.password.label}}   {{form.password()}}<br>-->
<!--        {{form.submit()}}-->
<!--    </form></div>-->

{% endblock %}

